body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(to right, rgba(103, 181, 223, 0.85), rgba(160, 222, 167, 0.95));
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    color: white;
}

.hero h1 {
    font-size: 45px;
}

.btn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTION */
section {
    background: white;
    margin: 20px auto;
    padding: 30px;
    width: 85%;
    border-radius: 10px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.card {
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

/* FORM */
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
}

/* REVIEWS */
.reviews {
    display: grid;
    gap: 15px;
}

.review-card {
    background: #f9f9f9;
    padding: 15px;
    border-left: 5px solid green;
    border-radius: 8px;
}